.radios {
  background-color: rgb(237, 237, 237);
  padding: 1rem;
  color: rgb(114, 92, 92);

  .radio-group {
    display: flex;
    list-style-type: none;
    padding: 0;

    &__wrapper {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }

    &__item {
      margin-right: .5rem;
      width: 16px;
      height: 16px;

      &:focus,
      &:hover {
        outline: 2px solid rgb(46, 46, 46);
      }

    }

    &__submit {
      align-self: flex-end;
      margin-top: 1rem;
      padding: .5rem 1rem;
      color: rgb(135, 112, 112);
      font-size: 1.25rem;
      cursor: pointer;

      &:focus,
      &:hover {
        outline: 2px solid rgb(46, 46, 46);
        background-color: white;
      }
    }
  }

  [role="radiogroup"] {
    display: flex;
    flex-direction: column;
  }
}
