.radios {
  padding: 1rem;
  color: #5b4c4c;
  border: 2px solid #5b4c4c;

  .radio-group {
    display: flex;
    list-style-type: none;
    padding: 0;

    &__wrapper {
      &:not(:last-child) {
        margin-right: 1em;
      }

      &:focus,
      &:hover {
        outline: 2px solid #5b4c4c;
      }
    }

    &__item {
      margin-right: .5rem;
      width: 16px;
      height: 16px;

      &:focus {
        outline: 2px solid #5b4c4c;
      }

    }

    &__submit {
      align-self: flex-end;
      margin-top: 1rem;
      padding: .5rem 1rem;
      color: #5b4c4c;
      font-size: 1.25rem;
      cursor: pointer;

      &:focus,
      &:hover {
        outline: 2px solid #5b4c4c;
        background-color: white;
      }
    }
  }

  [role="radiogroup"] {
    display: flex;
    flex-direction: column;
  }
}

.heading {
  color: #5b4c4c;
}
