.tabs {
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 35px 0;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__list-item {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &--active {
      color: rgb(0, 0, 180);
      border-bottom: 5px solid black;
    }

    &:hover {
      border-bottom: 5px solid black;
    }

    &:focus {
      outline: 4px solid black;
      outline-offset: 4px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__panel {
    display: none;
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    height: auto;

    &--active {
      display: block;
      opacity: 1;
      position: static;
    }

    a {
      color: rgb(0, 0, 180);

      &:focus,
      &:hover {
        outline: 4px solid black;
        outline-offset: 4px;
      }
    }
  }

  &__panel-container {
    border: 2px solid black;
    padding: 2rem;
  }
}