$grid-columns: 12;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1224px,
);

// In case grid gutters would be needed to change across breakpoints

$grid-gutters: (
        xs: 4px,
        md: 16px,
        lg: 24px,
);